<section class="about-the-game-section" id="about">
  <div class="container">
    <picture>
      <source
        srcset="img/About_game/image@1x.png 1x, img/About_game/image@2x.png 2x"
      />
      <img
        class="logo-icon-mobile"
        src="img/About_game/image@2x.png"
        alt="Merge Fruits"
      />
    </picture>
    <div class="about-the-game">
      <div class="about-game-cont">
        <a class="about-the-game2">About the Game</a>
      </div>
      <h1 class="subtitle">
        A relaxing merge
        <br />
        experience with
        <br />
        colorful cafe
        <br />
        progression
      </h1>
      <div class="text">
        <p class="text_1">
          The whole game&#039;s built around these really zen gameplay moments -
          you merge stuff, get cool upgrades, and honestly, watching those
          fruits combine is weirdly satisfying. You&#039;ll be mixing different
          fruits to create new recipes, and slowly but surely, your cafe starts
          looking exactly how you want it.
        </p>
        <p class="text_1">
          We wanted something that&#039;d actually help you unwind after a long
          day, you know? The animations are smooth and there&#039;s always
          something new to unlock, so you&#039;ll probably find yourself coming
          back to it.
        </p>
      </div>
    </div>
  </div>
</section>
