<section class="faq section" id="faq">
  <div class="container faq-container">
    <p class="faq-label">FAQ</p>

    <h2 class="faq-title">Quick answers</h2>

    <ul class="faq-list">
      <li class="faq-item">
        <button class="faq-question" type="button">
          <span>Is Fruit Merge Cafe easy to play?</span>

          <span class="faq-icon">
            <svg class="faq-icon-svg" width="28" height="28">
              <use href="img/svg/sprite.svg#icon-faq-plus-circle"></use>
            </svg>
          </span>
        </button>

        <p class="faq-answer">
          Yes, the controls and mechanics are beginner-friendly.
        </p>
      </li>

      <li class="faq-item faq-item--open">
        <button class="faq-question" type="button">
          <span>Can players upgrade the cafe?</span>

          <span class="faq-icon">
            <svg class="faq-icon-svg" width="28" height="28">
              <use href="img/svg/sprite.svg#icon-faq-close-circle"></use>
            </svg>
          </span>
        </button>

        <p class="faq-answer">
          Yes, new decorations and cafe improvements unlock over time.
        </p>
      </li>

      <li class="faq-item">
        <button class="faq-question" type="button">
          <span>Does the game focus on relaxing gameplay?</span>

          <span class="faq-icon">
            <svg class="faq-icon-svg" width="28" height="28">
              <use href="img/svg/sprite.svg#icon-faq-plus-circle"></use>
            </svg>
          </span>
        </button>

        <p class="faq-answer">
          Absolutely! We made sure it's the kind of game that actually relaxes
          you instead of stressing you out.
        </p>
      </li>

      <li class="faq-item">
        <button class="faq-question" type="button">
          <span>What style should the landing page follow?</span>

          <span class="faq-icon">
            <svg class="faq-icon-svg" width="28" height="28">
              <use href="img/svg/sprite.svg#icon-faq-plus-circle"></use>
            </svg>
          </span>
        </button>

        <p class="faq-answer">
          Think bright and welcoming, but not overwhelming - something that
          looks great on your phone.
        </p>
      </li>

      <li class="faq-item">
        <button class="faq-question" type="button">
          <span>Are there different fruit combinations?</span>

          <span class="faq-icon">
            <svg class="faq-icon-svg" width="28" height="28">
              <use href="img/svg/sprite.svg#icon-faq-plus-circle"></use>
            </svg>
          </span>
        </button>

        <p class="faq-answer">
          Yes, players unlock many new merge combinations and recipes.
        </p>
      </li>
    </ul>
  </div>
</section>
