<div class="hero-section-wrapper">
  <section class="hero"></section>
  <div class="hero-content">
    <div class="container hero-wrapper">
      <div class="hero-wrapper-text">
        <h1 class="title-hero">
          Merge Fruits <span class="span-style">Build Your Cafe</span>
        </h1>
        <p class="paragraph-hero">
          Relaxing merge puzzles with delicious cafe progression
        </p>
      </div>
      <div class="btn-wrapper">
        <a
          href="https://play.google.com/store/apps/details?id=com.messworks.fruit.merge.cafe.game&hl=en&gl=us"
          class="bth-hero btn"
        >
          <svg
            class="play-market-icon"
            width="24"
            height="24"
            fill="currentColor"
          >
            <use href="/img/svg/sprite.svg#icon-play-market"></use>
          </svg>
          <div class="line">
            <p class="btn-text">Play ON</p>
            <h1 class="btn-title">Google Play</h1>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
