<section class="how-to-play-section container" id="how-to-play">
  <div class="container">
    <p class="label-how-to-play">How to play</p>
    <p class="pagarpah-play-description">Simple merges with rewarding upgrades</p>

    <div class="swiper how-to-play-swiper">
      <div class="swiper-wrapper">

        <article class="swiper-slide card-how-to-play">
          <div class="number"><span class="_5">1</span></div>
          <div class="img-1">
            <picture>
              <source srcset="/img/How_to_play/fruit@1x.png 1x, /img/How_to_play/fruit@2x.png 2x" />
              <img src="/img/How_to_play/fruit@1x.png" alt="Combine Matching Fruits" />
            </picture>
          </div>
          <strong class="create-bigger-combos">Combine Matching<br />Fruits</strong>
          <p class="chain-merges-together-for-faster-progression">Merge identical ingredients to create new and bigger items.</p>
        </article>

        <article class="swiper-slide card-how-to-play">
          <div class="number2"><span class="_5">2</span></div>
          <div class="img-2">
            <picture>
              <source srcset="/img/How_to_play/coctale@1x.png 1x, /img/How_to_play/coctale@2x.png 2x" />
              <img src="/img/How_to_play/coctale@1x.png" alt="Unlock Cafe Recipes" />
            </picture>
          </div>
          <strong class="create-bigger-combos">Unlock Cafe Recipes</strong>
          <p class="chain-merges-together-for-faster-progression">Discover smoothies, desserts, and colorful creations.</p>
        </article>

        <article class="swiper-slide card-how-to-play">
          <div class="number3"><span class="_5">3</span></div>
          <div class="img-3">
            <picture>
              <source srcset="/img/How_to_play/lama@1x.png 1x, /img/How_to_play/lama@2x.png 2x" />
              <img src="/img/How_to_play/lama@1x.png" alt="Complete Customer Orders" />
            </picture>
          </div>
          <strong class="create-bigger-combos">Complete Customer<br />Orders</strong>
          <p class="chain-merges-together-for-faster-progression">Serve items to progress through gameplay tasks.</p>
        </article>

        <article class="swiper-slide card-how-to-play">
          <div class="number4"><span class="_5">4</span></div>
          <div class="img-4">
            <picture>
              <source srcset="/img/How_to_play/cafe@1x.png 1x, /img/How_to_play/cafe@2x.png 2x" />
              <img src="/img/How_to_play/cafe@1x.png" alt="Expand Your Cafe" />
            </picture>
          </div>
          <strong class="create-bigger-combos">Expand Your Cafe</strong>
          <p class="chain-merges-together-for-faster-progression">Unlock decorations and improve cafe areas.</p>
        </article>

        <article class="swiper-slide card-how-to-play">
          <div class="number5"><span class="_5">5</span></div>
          <div class="img-5">
            <picture>
              <source srcset="/img/How_to_play/bonus@1x.png 1x, /img/How_to_play/bonus@2x.png 2x" />
              <img src="/img/How_to_play/bonus@1x.png" alt="Create Bigger Combos" />
            </picture>
          </div>
          <strong class="create-bigger-combos">Create Bigger Combos</strong>
          <p class="chain-merges-together-for-faster-progression">Chain merges together for faster progression.</p>
        </article>

      </div>
    </div>
  </div>
</section>