.back-link {
  border: 1px solid var(--black);
  border-radius: 50px;
  padding: 12px 32px;
  width: 177px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media only screen and (min-width: 1440px) {
  .nav {
    justify-content: flex-start;
    gap: 24px;
  }

  .nav-logo {
    position: static;
  }
}
