:root {
  --black: #3a1f09;
  --card-text: #9d5f2d;
  --white: #fff;
  --background: #fff0d9;
  --card-number-1: #d19af5;
  --card-number-2: #deadf1;
  --card-number-3: #edc1ec;
  --card-number-4: #f7ceea;
  --card-number-5: #ffd9e7;
  --gradient-section-2: linear-gradient(
    325deg,
    #ffcc88 0%,
    #ffa078 50.48%,
    #ff7569 100%
  );
  --hovered-card: #ff7569;
  --yellow-faq-icon: #ff9a3c;
  --howered-nav-bar: #ff4c3c;
  --swipe-elements: rgba(58, 31, 9, 0.2);
}

:root {
  --font-family: 'Nunito', sans-serif;
  --second-family: 'Paytone One', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;

  font-family: var(--font-family);
  color: var(--black);
  background-color: var(--background);
}
header,
main,
body {
  width: 100%;
}
html,
body {
  overflow-x: hidden;
}
