.footer {
  padding: 32px 0;
  background-color: var(--black);
}

.footer-desc {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--white);
}

.footer-link {
  position: relative;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: var(--white);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--yellow-faq-icon);
}

.footer-link::before {
  content: '';
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%) skewX(-12deg);
  z-index: -1;
  width: 110%;
  height: 24%;
  background-color: #41d1ff;
  transition: 200ms ease;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 1440px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 156px;
    padding-right: 156px;
  }

  .footer-list {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 0;
  }
}
